extends layout


block content
  div.content
    p.content__title Articles
    each item in locals.posts
      div.content__block
        div.content__block-info
          p.content__block-label= item.name
          p= item.description
        if locals.id
          div.content__block-control
            button#edit-btn Edit
            button#del-btn Delete
