extends layout

block content
  div.content
    p.content__title Posts
    if locals.id
      button#create-post.button Create post
      div#add.add-post.hidden
        form(method="POST").form
          div.form__block
            label(for="name").form__label Enter title
            input#name(type="text", name="name", placeholder="Enter title", required)
          div.form__block
            label(for="description").form__label Type your post
            textarea#description(name="description", required, placeholder="Type your post here", rows="10" )
          button#btn-login.button(type="submit") Publish