extends layout


block content
  div.content
    p.content__title Articles
    each item in [{name: "Name 1", description: "Description 1"}, {name: "Name 2", description: "Description 2"}, {name: "Name 3", description: "Description 3"}]
      div.content__block
        div.content__block-info
          p= item.name
          p= item.description
        if locals.id > 0
          div.content__block-control
            button#edit-btn Edit
            button#del-btn Delete