* {
  padding: 0;
  margin: 0;
  border: 0; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*:focus, *:active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a, a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400; }

.container {
  margin: 0 20px; }

.content {
  padding: 15px; }
  .content__title {
    margin-bottom: 15px;
    font: 500 1rem/1.5rem "Times New Roman", sans-serif; }
  .content__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid brown; }
    .content__block-label {
      margin-bottom: 10px;
      font-weight: 600;
      font-size: 1.2rem; }
    .content__block-control button {
      margin-right: 10px;
      padding: 10px;
      border: 1px solid brown;
      border-radius: 10px;
      background-color: transparent; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px;
  background-color: #673ab7; }
  .navbar__block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 15px; }
  .navbar a {
    color: bisque;
    transition: color 0.5s ease-out;
    margin-bottom: 5px; }
    .navbar a:active {
      color: red; }
    .navbar a:visited {
      color: bisque; }
    .navbar a:hover {
      color: aliceblue;
      transition: color 0.5s ease-out; }

.form {
  max-width: 500px;
  margin: 0 auto;
  padding: 15px; }
  .form__title {
    text-align: center;
    margin-bottom: 20px;
    font: 500 1.3rem/1.5rem "Times New Roman", sans-serif; }
  .form__label {
    display: block;
    margin-bottom: 10px; }
  .form__block {
    text-align: left; }
    .form__block input {
      padding: 10px;
      margin-bottom: 20px;
      width: 100%;
      border: 1px solid #673ab7;
      background-color: transparent;
      color: black; }
  .form__button {
    padding: 10px;
    text-align: center;
    border: 1px solid #673ab7;
    background-color: transparent;
    color: black; }
